/* Contact */
#contact {
  margin-top: 100px;
  padding: 5rem 0;
  background-color: #eef5fd;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.icon {
  font-size: 3.5rem;
  color: rgb(253, 84, 84);
  margin-right: 2rem;
}

/* Information Form */

.information-form {
  text-align: center;
  padding: 50px 0;
  background-color: #eee;
}
.form {
  margin: 2rem auto;
  max-width: 50rem;
}

.form .row {
  display: flex;
  justify-content: center;
}

.form .row input:first-child {
  margin-right: 1rem;
}

.form input,
.form textarea,
.form select {
  padding: 0.8rem 1rem;
  border: 1px solid #a8a8a8;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  background: #fff;
}

.form textarea {
  resize: vertical;
}

.btn-primary {
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 5px;
  background-color: rgb(253, 84, 84);
  color: #fff;
  font-size: 18px;
  width: 100%;
  border: 3px solid rgb(253, 84, 84);
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: transparent;
  color: #222;
}

.contact__right {
  flex: 0 0 50%;
  width: 100%;
}

.google-map {
  height: 500px;
}

/* ================ Search ====================== */

#search {
  background-color: #ffffff;
  padding: 8rem 1rem;
  position: relative;
}

.search__container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: auto;
}

.search__container h3 {
  margin: 1rem 0 2rem;
}

.search__container button {
  margin: 0;
}
.form-search {
  display: flex;
  align-items: center;
}

.form-search .form-control {
  background-color: #fff;
  border: 1px solid #b9b9b9;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  margin-right: 1rem;
}

.form-search .form-control i {
  font-size: 1.2rem;
}

.form-search .form-control .form-input {
  background-color: transparent;
  border: 0;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  outline: none;
}

.btn-form {
  padding: 0.5rem 1rem;
  height: 3rem;
  background-color: rgb(253, 84, 84);
  border-radius: 5px;
  font-size: 1rem;
  width: 10rem;
  color: #fff;
  outline: none;
  border: none;
  margin-left: 5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-form:hover {
  background-color: rgb(252, 111, 111);
}

/* ================= End of Search ==================== */
